@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face{
  font-family: 'MaryKate';
  src: url('../fonts/Marykate-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
